<div class="content-all">
    <div class="filter">
        <label for="title"> Title: 
            <input ngModel type="text" name="titre" class="input" [(ngModel)]="title" placeholder="Titre">
        </label>
        <label for="date"> Date: 
            <input ngModel type="date" data-date-format="DD/MMMM/YYYY" name="date" class="input" [(ngModel)]="date">
        </label>

        <label for="other"> Other: 
            <select ngModel name="other" class="input" [(ngModel)]="other" aria-placeholder="Selectionner">
                <option value="today">Today</option>
                <option value="week">This week</option>
                <option value="month">This month</option>
            </select>
        </label>
    </div>
    <div class="content-body">
        <ul class="list">
            <!-- <li *ngFor="let post of post | paginate:{itemsPerPage: 8, currentPage: p} | filterPost: title | filterDate: date | filterOther: other" class="list-item" (click)="openPost(post)">-->
             <li *ngFor="let post of posts | paginate:{itemsPerPage: 8, currentPage: p}" class="list-item" (click)="openPost(post)">
                 <div>
                    <div class="row">
                        <h4 class="card-header">{{ post.titre }}</h4> 
                    </div>
                    <div class="card-body">
                        <p> {{ post.lieu }}</p>
                    </div>        
                    <div class="divider"></div>
                    <div class="row">
                        <div class="column">
                            <div class="num">
                                {{ post.date_val | date: 'dd MMM yyyy'}}
                            </div>
                        </div>
                    </div>
                 </div>
             </li>
         </ul>
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>


<!--
<div class="column">
    <p class="num" hidden>&#8470;</p>
    <a><img src="../../../../../assets/images/admin/trash.png" class="btn-delete btn num" ></a>
    <a ><img src="../../../../../assets/images/admin/edit.png" class="btn-edit btn num"></a>
    <a ><img src="../../../../../assets/images/admin/eye.png" class="btn num"></a>
</div>-->