.menu-btn a{
    cursor: pointer;
}

.logo-area a {
    color: black;
    font-size: 35px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1em;
    line-height: 30px;
    
}

.logo-area-bis a {
    color: white;
    font-size: 35px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1em;
    line-height: 30px;
    
}

.logoelite{
    height: 70px;
    width: 152px;
}

.active{
    color: #1a393b;
}

