<app-header></app-header>

    <!-- Feature Area Starts -->
    <section class="feature-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-top text-center">
                        <h2>Qui sommes-nous?</h2>
                        <p>Depuis sa création, Elite RH fonde sa réussite sur des principes et valeurs qui font d’elle un des leaders de l’intérim et du recrutement au Sénégal. C’est ainsi que le code de conduite chez nous est basé sur :</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-feature mb-4 mb-lg-0">
                        <h4>L’Intégrité</h4>
                        <img src="../../../assets/images/about/integrite.png" alt="">
                        <p class="py-3">Cette valeur illustre nos convictions et notre façon d’accompagner nos clients pour une collaboration de confiance mutuelle. Notre engagement auprès des clients est basé sur la transparence, gage de la sincérité de notre partenariat.</p>
                        <span class="bottom-check"><i class="fa fa-check fa-3x"></i></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature mb-4 mb-lg-0">
                        <h4>La Responsabilité</h4>
                        <img src="../../../assets/images/about/responsabilite.png" alt="">
                        <p class="py-3">Nous faisons des préoccupations de nos clients les nôtres car la fidélisation de tout partenaire passe par sa satisfaction.</p>
                        <span class="bottom-check"><i class="fa fa-check fa-3x"></i></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-feature">
                        <h4>L’efficacité </h4>
                        <img src="../../../assets/images/about/efficace.png" alt="">
                        <p class="py-3">Répondre de manière précise et adaptée aux besoins des clients dans les délais et ce, quel que soit l’urgence et l’imminence.
                          « Ensemble, développons vos compétences ».</p>
                        <span class="bottom-check"><i class="fa fa-check fa-3x"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Area End -->

      <!-- Feature Area Starts -->
  <section class="feature-area section-padding">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="section-top text-center">
                  <h2>Nos service</h2>
                  <p>Elite RH entend accompagner ses clients et ses candidats tout en leur garantissant un service de qualité dans le plus grand professionnalisme.
                    Ainsi, nous proposons notre expertise dans les domaines suivants :</p>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="single-feature service-panel mb-4 mb-lg-0">
                    <h4>L’intérim</h4>
                    <img src="../../../assets/images/about/interim.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-feature service-panel mb-4 mb-lg-0">
                    <h4>Le recrutement</h4>
                    <img src="../../../assets/images/about/recrutement.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-feature service-panel">
                    <h4>L’externalisation de la paie</h4>
                    <img src="../../../assets/images/about/paye.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
              <div class="single-feature service-panel">
                  <h4>La formation</h4>
                  <img src="../../../assets/images/about/formation.png" alt="">
                </div>
          </div>
        </div>
    </div>
</section>
<!-- Feature Area End -->

<app-footer></app-footer>
<app-scroll-top></app-scroll-top>
