<form class="form-style-9" #addForm="ngForm" (ngSubmit)="addPost(addForm.value)">
  <span class="titre">Publier une nouvelle offre d'emploi</span>
  <ul>
    <li>
        <input type="text" name="titre" ngModel #titre="ngModel" id="ftitre" class="field-style field-split align-left" placeholder="Titre du poste" required />
        <select name="lieu" ngModel #lieu="ngModel" id="flieu"  class="field-style field-split align-right" required>
          <option value="">Lieu du poste</option>
          <option value="Dakar">Dakar</option>
          <option value="Diourbel">Diourbel</option>
          <option value="Fatick">Fatick</option>
          <option value="Kaffrine">Kaffrine</option>
          <option value="Kaolack">Kaolack</option>
          <option value="Kédougou">Kédougou</option>
          <option value="Kolda">Kolda</option>
          <option value="5Louga">Louga</option>
          <option value="Matam">Matam</option>
          <option value="aint-Louis">Saint-Louis</option>
          <option value="Sédhiou">Sédhiou</option>
          <option value="Tambacounda">Tambacounda</option>
          <option value="Thiès">Thiès</option>
          <option value="Ziguinchor">Ziguinchor</option>
      </select>
    </li>
    <li>
        <select ngModel name="type" #type="ngModel" id="ftype"  class="field-style field-split align-left" required>
          <option value="">Type de contrat</option>
          <option value="Temps partiel">Temps partiel</option>
          <option value="Temps plein">Temps plein</option>
          <option value="Travail de bureau">Travail de bureau</option>
          <option value="Travail à distance">Travail à distance</option>
        </select>
        <select name="categorie" ngModel #categorie="ngModel" id="fcategorie"  class="field-style field-split align-right" required>
          <option value="">Catégorie poste</option>
          <option value="Cadre">Cadre</option>
          <option value="Non cadre">Non cadre</option>
        </select> 
    </li>
    <li>
      <!--
      <input type="date" name="date_val" ngModel #date_val="ngModel" id="fdate_val" class="field-style field-full align-none" placeholder="Date de validation" required/>
      -->
      <input type="text" name="structure_name" ngModel #structure_name="ngModel" id="fstructure_name" class="field-style field-split align-left" placeholder="Nom de la structure" required />
      <input type="date" name="date_val" ngModel #date_val="ngModel" id="fdate_val" class="field-style field-split align-right" placeholder="Date de validation" required/>
    </li>
    <li>
      <textarea name="fiche" ngModel #fiche="ngModel" id="ffiche" class="field-style" placeholder="Fiche de poste" required></textarea>
    </li>
    <li>
      <textarea name="competences" ngModel #competences="ngModel" id="fcompetences" class="field-style" placeholder="Compétences" required></textarea>
    </li>
    <li>
      <input type="submit" value="Enregistrer l'offre d'emploi" />
    </li>
  </ul>
</form>