<form class="form-style-9" #addForm="ngForm" (ngSubmit)="addPost(addForm.value)">
  <span class="titre">Publier une nouvelle offre d'emploi</span>
  <ul>
    <li>
        <input type="text" name="titre" ngModel #titre="ngModel" id="ftitre" class="field-style field-split align-left" placeholder="Titre du poste" required />
        <select name="lieu" ngModel #lieu="ngModel" id="flieu"  class="field-style field-split align-right" required>
          <option value="">Lieu du poste</option>
          <option value="2">Dakar</option>
          <option value="3">Diourbel</option>
          <option value="4">Fatick</option>
          <option value="5">Kaffrine</option>
          <option value="5">Kaolack</option>
          <option value="5">Kédougou</option>
          <option value="5">Kolda</option>
          <option value="5">Louga</option>
          <option value="5">Matam</option>
          <option value="5">Saint-Louis</option>
          <option value="5">Sédhiou</option>
          <option value="5">Tambacounda</option>
          <option value="5">Thiès</option>
          <option value="5">Ziguinchor</option>
      </select>
    </li>
    <li>
        <select ngModel name="type" #type="ngModel" id="ftype"  class="field-style field-split align-left" required>
          <option value="">Type de contrat</option>
          <option value="2">Temps partiel</option>
          <option value="3">Temps plein</option>
          <option value="5">Travail de bureau</option>
          <option value="4">Travail à distance</option>
        </select>
        <select name="categorie" ngModel #categorie="ngModel" id="fcategorie"  class="field-style field-split align-right" required>
          <option value="">Catégorie poste</option>
          <option value="2">Cadre</option>
          <option value="3">Non cadre</option>
        </select> 
    </li>
    <li>
      <input type="date" name="date_val" ngModel #date_val="ngModel" id="fdate_val" class="field-style field-full align-none" placeholder="Date de validation" required/>
    </li>
    <li>
      <textarea name="fiche" ngModel #fiche="ngModel" id="ffiche" class="field-style" placeholder="Fiche de poste" required></textarea>
    </li>
    <li>
      <textarea name="competences" ngModel #competences="ngModel" id="fcompetences" class="field-style" placeholder="Compétences" required></textarea>
    </li>
    <li>
      <input type="submit" value="Enregistrer l'offre d'emploi" />
    </li>
  </ul>
</form>