
<!--
<span class="titre">Ajouter une nouvelle offre d'emploi</span>
<div class="container">
    <form #addForm="ngForm" class="form" (ngSubmit)="addPost(addForm.value)">
        <div class="row">
      <div class="col-25">
        <label for="ftitre">First Name</label>
      </div>
      <div class="col-75">
        <input ngModel #titre= "ngModel" id="ftitre"
        class="form-control input" 
        type="text" name="titre" 
        placeholder="Titre"
        required/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ldate">Last Name</label>
      </div>
      <div class="col-75">
        <input ngModel #date= "ngModel" id="fdate"
        class="form-control input" 
        type="date" name="date" 
        required/>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea rows="5" cols="5" ngModel #description= "ngModel" id="subject"
                class="form-control input" 
                name="description" 
                placeholder="Saisir la description"
                style="height:200px"
                required></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
  -->

  <form class="form-style-9">
      <span class="titre">Publier une nouvelle offre d'emploi</span>
    <ul>
    <li>
        <input type="text" name="field1" class="field-style field-split align-left" placeholder="Name" />
        <input type="email" name="field2" class="field-style field-split align-right" placeholder="Email" />
    
    </li>
    <li>
        <input type="text" name="field3" class="field-style field-split align-left" placeholder="Phone" />
        <input type="url" name="field4" class="field-style field-split align-right" placeholder="Website" />
    </li>
    <li>
    <input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" />
    </li>
    <li>
    <textarea name="field5" class="field-style" placeholder="Message"></textarea>
    </li>
    <li>
    <input type="submit" value="Enregistrer l'offre d'emploi" />
    </li>
    </ul>
    </form>