<div class="add-container">
    <form #addForm="ngForm" class="form" (ngSubmit)="addUser(addForm)">
       <label class="title">Nouvel utilisateur</label>
       <div class="grid">
            <div class="form-group">
                <input ngModel #surname= "ngModel"
                class="form-control input" 
                type="text" name="surname" 
                placeholder="Prenom"
                required/>
        
                <div class="alert-error" *ngIf="submitted && surname.invalid && (surname.dirty || surname.touched)">
                    <div *ngIf="surname.errors.required">
                        Veuillez saisir le prenom
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input ngModel #nom= "ngModel"
                class="form-control input" 
                type="text" name="nom" 
                placeholder="Nom"
                required/>
        
                <div class="alert-error" *ngIf="submitted && nom.invalid && (nom.dirty || nom.touched)">
                    <div *ngIf="nom.errors.required">
                        Veuillez saisir le nom
                    </div>
                    
                </div>
            </div>

            <div class="form-group">
                <input ngModel #address= "ngModel"
                class="form-control input" 
                type="text" name="address" 
                placeholder="Adresse"
                required/>
        
                <div class="alert-error" *ngIf="address.invalid && (address.touched || address.dirty)">
                    <div *ngIf="address.errors.required">
                        Veuillez saisir l'adresse
                    </div>
                    
                </div>
            </div>

            <div class="form-group">
                <input ngModel #email= "ngModel"
                class="form-control input" 
                type="email" name="email" 
                placeholder="Email"
                required/>
        
                <div class="alert-error" *ngIf="email.invalid && (email.touched || email.dirty)">
                    <div *ngIf="email.errors.email">
                        Merci de saisir un email valide
                    </div>
                    Veuillez saisir l'adresse mail
                </div>
            </div>

            
       </div>

       <div class="form-group checkbox">
            <label>Status </label>
            <input ngModel type="checkbox" #state="ngModel" name="state" class="form-conttrol "/>
        </div>
        
        <input class="btn" type="submit" value="Ajouter"/>

    </form>
</div>