
.content-all{
    width: 100%;
    padding-left: 5%;
}
.content-body{
    padding-top: 2%;
    width: 100%;
    height: fit-content;
}

.filter{
    margin-top: 30px;
    margin-left: 40px;
}

.pagination{
    float: right;
    margin-right: 30px;
}
