<div class="admin-container">
    <form #login="ngForm" class="form" (ngSubmit)="setLogin(login.value)">
        <h2 class="title">Geode</h2>
    
        <div class="form-group">
            <input ngModel #email= "ngModel"
            class="form-control input" 
            type="email" name="email" 
            placeholder="Email"
            required/>
    
            <div class="alert-error" *ngIf="email.touched && !email.valid">
                <div *ngIf="!email.errors.email"> Merci de saisir un email valide</div>
                <div *ngIf="!email.valid">Veuillez saisir une adresse mail valide</div>
            </div>
        </div>
    
        <div class="form-group">
            <input ngModel #password="ngModel" 
            class="form-control input" 
            type="password" name="password" 
            placeholder="Mot de passe"
            required/>
            
            <div class="alert-error" *ngIf="password.touched && !password.valid">
                Veuillez saisir un mot de passe
            </div>
        </div>
    
        <input class="btn input" type="submit" value="Valider"/>
    </form>
</div>


