<div class="home-container">
    <div class="header">
        <app-header-admin></app-header-admin>
    </div>
    <div class="content">
        <mat-sidenav-container class="example-container">
            <mat-sidenav mode="side" opened class="sidebar">
              <app-sidebar-admin></app-sidebar-admin>
            </mat-sidenav>
            <mat-sidenav-content >
                <app-body *ngIf="listUser"></app-body>
                <app-add-user *ngIf="addUser"></app-add-user>
                <app-post *ngIf="listPost"></app-post>
                <app-add-post *ngIf="addPost"></app-add-post>
            </mat-sidenav-content >
        </mat-sidenav-container>
    </div>
    <div class="footer">
        <app-footer-admin></app-footer-admin>
    </div>
    
</div> 

